/* Override any bootstrap variables here before importing bootstrap itself */

// $primary: #268bd2; // Testing different primary color for links
// $primary: #497bad; // Link color from old site

/* Import bootstrap's sass */
@import 'bootstrap';

/* Custom SASS imports */
@import 'partials/typography';

.navbar {
  transition: all 500ms ease;
}

img { 
  max-width: 100%; 
  height: auto;
}

.no-underline { text-decoration: none; }

/* Homepage hero image */
#lede-hero {
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    min-height: 100vh;
}
#lede-hero > * {
    grid-area: hero;
}
#lede-hero .hero__content {
    z-index: 1;
}
#lede-hero > img {
    object-fit: cover;
    height: 100%;
		/* height: 100vh; /* set to work in chrome */
    width: 100%;
    z-index: -1;
    opacity: 1;
}
/* This is to position stuff for the lede-hero
   on the homepage correctly */
@include media-breakpoint-up(lg){
	#lede-hero {
		height: 100vh
	}
	#lede-hero > img {
		height: 100vh;
	}
}

/* Remove underline links from headings */
@for $i from 1 through 6 {
      h#{$i} {
        font-family: "Arvo";
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
}


/* Make some text outlines */
@for $i from 1 through 3 {
	.text-outline-#{$i} {
		text-shadow: #{$i}px #{$i}px 0px black, #{$i}px -#{$i}px 0px black, -#{$i}px -#{$i}px 0px black, -#{$i}px #{$i}px 0px black;
	}
}

.latest-heading > * {
  transition: all 1s ease;
}
.latest-heading {
  padding-top: 80px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding-top: 65px;
  margin-bottom: 0.5rem;
  box-shadow: 0 10px 10px -12px rgba(0,0,0,0.5);

  img {
    vertical-align: sub;
    height:80px;
  }
  h2 {
    font-family: Arvo;
    font-size: 1.5rem;
  }
}

.homepage {
  article h3 {
    margin-top: 0.5rem;
    font-family: Arvo;
  }
}

.homepage, .articles {

  .byline{
    margin-bottom: 0.5rem;
    // border-bottom: solid 1px #CCC;
    // border-top: solid 1px #CCC;
  }

  small.author {
    z-index: 2;
  }
  .author, small.date {
    font-weight: 500;
    background-color: #66A3D9;
    background-color: #A6D5FF;
    background-color: #C4E4FF;
    background-color: #EEE;
    background-color: #84D9D9;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    padding: 0.15rem 0.5rem;
    padding-right: 1rem;
    z-index: 1;
    position: relative;
  }
  small.date {
    font-weight: normal;
    background-color: #EEE;
    background-color: #F27781;
    background-color: #FF9FA7;
    margin-left: -1rem;
    padding-left: 1.5rem;
  }

  .read {
    margin-left: -1rem;
    z-index: 0;
    background-color: #FDECAC;
    background-color: #FFD5BF;
    background-color: #FFE9DE;
    background-color: #DDD;
    background-color: #F2DCC2;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    padding: 0.15rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
  }
}

.articles {
  .col.article-info {
    z-index: 0;
    transition: transform 0.3s ease;
  }
  .col.article-info:hover {
    z-index: 2;
    box-shadow: 0 0 20px 10px black;
    transform: scale3d(1.015,1.015,1.015);
    
    .card-img-overlay {
      margin-top: -1px;
    }
  }
}

#blog-col article,
#articles-col article {
  margin: 2rem 0;
}

.post-stats img {
  vertical-align: text-bottom;
}

/* Fancy bit camera rule */
.fancy-hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  img {
    height: 20px;
    opacity: 0.65;
  }
}
.fancy-hr::before { right: 0.5rem; }
.fancy-hr::after { left: 0.5rem; }
.fancy-hr::before,
.fancy-hr::after {
  content: "";
  display: inline-block;
  height: .2rem;
  height: 0;
  position: relative;
  vertical-align: middle;
  width: 25%;
  border-top: solid 1px #dee2e6;
  //border-bottom: solid 1px #dee2e6;
}
.fancy-hr:last-child { display: none; }


/* Page template styles */
.page {

  @for $i from 1 through 6 {

      // h#{$i} { font-family: Arvo; }

      p + h#{$i}, code + h#{$i},
      ul + h#{$i}, ol + h#{$i},
      blockquote + h#{$i}, div + h#{$i} {
          margin-top: 2rem;
      }
  }

}
