
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,700);

p.color-ex {
    color: #444;
    text-align: center;
    padding: 1em 0;
    margin: 0 auto;
}

p.aside {
    font-size: 0.9em;
    border: dashed 1px;
    padding: 0.5rem;
    font-family: Oswald;
    font-weight: 300;
}

p.aside > span {
    display: block;
    font-weight: 400;
}

#pushPage .row .column.two-thirds h3 {
    font-size: 1rem;
    color: #777;
    color: #999;
}

.big-vid img {
    width: initial;
}

.center {
    text-align: center;
}

ol li {
    margin-bottom: 1rem;
}

.aside {
    text-align: center;
}
