.main-index {
/*
 * Specifically for styling index.html
 *
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,700);

body {
    font-family: "Open Sans";
}

#lede {
	/*background-color: slategray;*/
	-moz-box-shadow: inset 0 -20px 20px -20px rgba(50,50,50,0.5);
	-webkit-box-shadow: inset 0 -20px 20px -20px rgba(50,50,50,0.5);
	box-shadow: inset 0 -20px 20px -20px rgba(50,50,50,0.5);
    padding: 2rem 0;
    /* Original background
    background-image: url('/images/pixls-background-2.jpg');
    background-position: center;
    */
    background-image: url('/images/main-lede/2015-06-06_rostanga_-_2.jpg');
    background-image: url('/images/main-lede/Moonlit_Mountains_crop.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.lede-attr {
    font-family: Oswald;
    font-weight: 300;
    font-size: 0.8rem;
    color: #666;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    padding-right: 0.5rem;
}

.cc {
    vertical-align: initial;
}

#lede h1 {
    color: #fff;
    text-transform: uppercase;
}

.intro h1, section h1, section h2 {
	font-family: "Roboto Slab", Arvo, "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

#lede .intro {
    margin-top: 2rem;
}

#lede .intro h1 {
    font-size: 4rem;
    color: #555;
}

#lede .intro h2, #lede .intro h1 {
    color: #555;
    text-transform: uppercase;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 25%, rgba(255,255,255,0.8) 75%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0.8)), color-stop(75%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

#lede img {
	width: 250px;
	margin-top: 1.5rem;
	/* background-color: rgba(255, 163, 0, 0.8);*/
    background-color: slategray;
    /*background-color: rgba(112, 128, 144, 0.8);*/
}

#img-patdavid {
    background-image: url('/images/Pat-David-Headshot-Crop-2048-Q60.jpg');
	background-position: center;
	background-size: cover;
	height: 500px;
}

#pixls-blender {
		background-image: url('/images/pixls-background.jpg');
        background-position: center;
        background-size: cover;
        height: 500px;
}

@media (max-width: 40rem){
	section#img-patdavid {
		height: 300px;
	}

    #navarea .container .column {
        margin-bottom: 3rem;
        border-bottom: solid 1px #eee;
    }



}

#articles {
    padding-top: 2rem;
}

.section-title {
    font-size: 3rem;
    font-family: Oswald;
    text-transform: uppercase;
}

.articles-more {
    font-size: 1.5rem;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: right;
    margin: 1rem;
}

section#about-patdavid {
    display: none;
	padding: initial;
}

.bitcam {
	width: 75px;
	margin-top: 1.5rem;
	opacity: 0.75;
}

.blog-title {
    font-family: Oswald;
}

.blog-subtitle {
    font-family: Lora;
    font-style: italic;
    color: lightslategray;
    margin-bottom: 0;
}

.date {
    color: #888;
    margin-bottom: 1rem;
    font-family: Oswald;
    font-weight: 200;
}

#blogposts hr {
    width: 25%;
}

#blogposts hr:last-of-type {
    display: none;
}

.blog-entry {
    /* border-top: solid 1px #eee; */
    /* margin-bottom: 4rem; */
    padding-top: 2rem;
}

.blog-entry:first-of-type {
    padding-top: 0;
}

.blog-entry > p {
    font-family: Lora, "Open Sans", serif;
    text-align: left;
    max-width: 33rem;
    letter-spacing: 0.01rem;
}

.blog-entry > img {
    box-shadow: 0 5px 8px -4px #555;
    box-shadow: 0 8px 6px -6px #666;
    width: initial;
    width: auto !important;
    max-width: 100%;
    max-height: 80vh;
}

/*
#navarea {
    padding: 1rem 0;
}
*/

#navarea .container {
    max-width: initial;
}

.bignav {
    max-height:150px;
    width: auto;
}

@media (max-width: 40rem){
    .bignav {
        max-height: 100px;
    }

    .section-title {
        /*font-size: 2.5rem;*/
        line-height: 1em;
        margin-bottom:1rem;
    }

    #img-patdavid .column.third {
        background: rgba(255,255,255,0.8);
        display: none;
    }

    section#about-patdavid {
        display: block;
    }

    #software-imgs {
        background-position: 0 0;
        margin-bottom: 2rem;
    }
}

p.blog-read-more {
    text-align: right;
    font-family: Oswald;
    font-weight: 200;
}

div.section-title + div.blog-entry {
    padding-top: 0;
}

.nav-icons-big {
    background-image: url('/images/icons/icons-sprite.png');
    background-repeat: no-repeat;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#nav-icons-articles {
    width: 106px;
}
#nav-icons-articles:hover {
    background-position: 0 -150px;
}

#nav-icons-blog {
    width: 150px;
    background-position: -125px 0;
}
#nav-icons-blog:hover {
    background-position: -125px -150px;
}

#nav-icons-discuss {
    width: 195px;
    background-position: -275px 0;
}
#nav-icons-discuss:hover {
    background-position: -275px -150px;
}

#software-imgs {
    background-image: url('/software/software-logos.png');
    height: 45px;
    background-repeat: no-repeat;
    background-position: 50%;
}
}