//Testing import of existing css
@import 'normalize';
@import 'grid';
@import 'prism';

/* Consolidating article.css and blogpost.css
============================================= */

@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Oswald:300,400|Roboto+Slab:400,700);
@font-face {
    font-family: cc-icons;
    src: url(/styles/cc-icons.ttf);
}

body {
    font-family: Lora, serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    /*-webkit-text-stroke: 0.15px;
     */
    font-family: Oswald;
    font-weight:400
}

/* article.css */
/* Multiple headings in a row, space out */
h2+h3, h3+h4, h4+h5, h5+h6 {
    margin-top: 1rem;
}

/* article.css */
/* space heading closer to following paras */
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p,
h2+ul, h3+ul, h4+ul, h5+ul, h6+ul {
    margin-top: 0.5rem;
}

/* bigger space between last para and next heading */
p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    margin-top: 2rem;
}

/* article.css */
/* bigger spacing if last entry in para is a list to heading */
ul+h1, ul+h2, ul+h3, ul+h4, ul+h5, ul+h6 {
    margin-top: 2rem;
}

/* blogpost.css */
a.header-link-alt {
    color: inherit;
}


h4 {
    text-transform: uppercase;
}

#title {
    margin-bottom: 0;
    font-size: 2rem;
}

p {
    color: #555;
    color: #666;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* blogpost.css */
.blog-posts p:first-of-type {
    margin-top: 0;
}

.lede {
    min-height: 150px;
    background-color: #eee;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5rem;
}

.lede-img {
    position: relative;
}

.lede-attr {
    font-family: Oswald;
    font-weight: 300;
    font-size: 0.9rem;
    color: #888;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    padding-right: 0.5rem;
}

blockquote {
    padding: 0 0.5em;
    border: solid 1px #ccc;
    border-left: solid 5px #aaa;
    -webkit-box-shadow: 0 6px 4px -5px #ccc;
    -moz-box-shadow: 0 6px 4px -5px #ccc;
    box-shadow: 0 6px 4px -5px #ccc;

}

blockquote > p {
    margin: 1em auto !important;
    color: #666;
}



figure {
    margin: 1.5em auto;
    display: table;
}

figure.full-width {
    width: 100%;
}
@media (min-width: 40rem){
    figure.full-width {
        width: 100vw;
        width: 100%;
    }
}

p img, figure img {
    width: 100%;
    width: initial;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    margin: 0 auto 0.5rem auto;
}


figure.full-width > figcaption {
    width: 90%;
    margin: 0 auto;
}

figcaption {
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.3em;
    display: table-caption;
    caption-side: bottom;
}

.lede-img {
    background-size: cover;
    background-position: center;
    background-color: #eee;
    background-color: whitesmoke;
    margin-bottom: 1.5em;
    min-height: 250px
}
@media (min-width: 40rem){
    .lede-img { min-height: 500px; }
}
@media (min-width: 64rem){
    .lede-img { min-height: 650px; }
}


#subtitle {
    font-size: 1.2rem;
    font-style: italic;
    color: lightslategray;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 400;
}


.article-date {
    font-size: 0.9rem;
    font-family: Oswald;
    font-weight: 300;
    margin-top: -1em;
    color: #aaa;
}

.article-title .author-name {
    color: #aaa;
    margin-top: 0;
    margin-bottom: 0.75em;
    font-weight: 300;
    font-size: 1.05em;
}


.footer {
    background-color: #eee;
    background-color: whitesmoke;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.5);
}
@media (min-width: 40rem){
    section.footer {
        text-align: left;
    }
}

.footer h3 {
    font-weight: 400;
    font-size: 1.6rem;
}

.navlink {
    font-family: Oswald;
    font-size: 1.4rem;
    text-transform: uppercase;
}
@media (min-width: 40rem){
    .navlink {
        margin-bottom: 0.8rem;
    }
}
@media (min-width: 64rem){
    .navlink {
        margin-bottom: 0;
        font-size: 1.2rem;
    }
}


/*
 * Styling for navigation links on mobile
 */
@media (max-width: 40rem){
    #navlinks a {
        display: block;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .navlink {
        background-color: #ddd;
        height: 60px;
        margin-bottom: 2px;
        display: table;
        width: 100%;
    }
}


#social-icons {
    margin-top: 1.7rem;
}

#social-icons img {
        width: 35px;
        height: auto;
        display: inline;
        margin: 0 0.5rem 0.5rem auto;
        opacity: 0.5;
}

@media (max-width: 64rem){
        #social-icons img {
                margin: 0 15px 15px;
        }
}


/* Author Info Box at the end of Posts */
div.post-end {
    margin-bottom: 2.5em;
}

.byline {
    font-family: Oswald;
    font-weight: 300;
    font-size: 0.9rem;
    text-transform: uppercase;
}

div.author-box {
    text-align: center;
}

.author-box img {
    width: 100px;
    margin-bottom: 0.5rem;
}

.author-name {
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.2rem;
}

.author-end {
    border-top: solid 1px #ddd;
    margin: 1.5rem 0;
}

.author-bio {
    font-size: 0.9em;
}

@media (min-width: 40rem){
    div.author-box {
        padding-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 2.5em;
        text-align: left;
    }

    div.author-box-image {
        position: absolute;
        width: 100px;
    }

    .author-box img {
        width: 150px;
        float: left;
        margin-right: 0.5rem;
    }

    div.author-box-image img {
        width: 100%;
    }

    div.author-box-info {
        margin-left: 110px;
        min-height: 100px;
    }

}


.site-name, .links-title {
    font-family: Oswald;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.site-slogan {
    font-family: Oswald;
    font-weight: 300;
}

.cc-row {
    text-align: center;
}
@media (min-width: 40rem){
    .cc-row {
        margin-top: 3rem;
    }
}


.cc {
    font-family: cc-icons;
    vertical-align: middle;
}

.cc-info {
    font-family: Oswald;
    font-weight: 300;
    font-size: 0.85rem;
}

.cc-info img {
    display: inline;
    width: 88px;
    margin: 0;
}

.camrule {
    border-bottom: solid 1px #ccc;
    display: none;
}

.camrule-img {
    height: 40px;
    height: 2rem;
    width: auto;
    margin: 0 auto;
    margin-bottom: -20px;
}

@media (min-width: 40rem){
    ul {
        display: block;
        margin-left: 1rem;
    }

    li > ul {
        margin-left: 0;
    }
}

#nextPrev {
    font-family: Oswald;
    color: #888;
    font-weight: 300;
    margin-bottom: 2rem;
}

#nextPrev a {
    color: #7A94AE;
}

#nextPrev .column div {
    font-weight: 400;
}

#nextPrev .next {
    text-align: right;
}

#prevTitle {
    margin-left: 1rem;
}

#nextTitle {
    margin-right: 1rem;
}

pre {
        background-color: #f8f8f8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ddd;
        white-space: pre;
        font-family: consolas, "Liberation Mono", Courier, monospace;
        font-size: 0.8em;
        padding: 0.3em;
}

pre code {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: none;
        white-space: pre;
        padding: 0;
        background-color: initial;
}

.big-vid {
    margin-left: -5%;
    width: 110%;
}

@media (min-width: 40rem){
    .big-vid {
        margin-left: 0;
        width: 150%;
    }
}

.fluid-vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.fluid-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.aside {
    font-size: 0.9em;
    border: dashed 1px;
    padding: 0.5rem;
    font-family: Oswald;
    font-weight: 300;
}

p.aside > span {
    display: block;
    font-weight: 400;
}

#discourse-comments {
    margin-bottom: 2rem;
}

.Cmd {
    font-family: Oswald, "Open Sans", sans-serif;
    text-align: center;
    display: block;
    background-color: #f8f8f8;
    border: dashed 1px #bbb;
    padding: 0.5rem 0;
}

li {
    margin-bottom: 0.5rem;
}


.toggle-swap {
    color: #497bad;
    cursor: pointer;
    border-left: solid 1px gray;
    padding: 0 0.5rem;
}
@media (max-width: 40rem){
    .toggle-swap {
        border: none;
        display: block;
        padding: 0.5em 0;
    }
}

.toggle-swap:first-of-type {
    border-left: none;
}

.toggle-swap:hover {
    background-color: #497bad;
    color: white;
}


.social-section p {
    font-size: 0.85rem;
    text-transform: uppercase;
}


table {
    margin: 0 auto;
}

table, th, td {
    border: solid 1px #aaa;
}

th {
    background-color: #444;
    color: white;
}

tbody tr:nth-child(even){
    background-color: #eee;
}

th, td {
    padding: 0.2rem;
}

a.header-link {
    position: relative;
    margin-left: 0.25rem;
    opacity: 0;
}

span.header-link::after {
    content: "\f0c1";
    font-family: FontAwesome;
}

h2:hover a.header-link,
h3:hover a.header-link,
h4:hover a.header-link,
h5:hover a.header-link,
h6:hover a.header-link {
  /* display: inline; */
  opacity: 1;
}



/*
==========
topnav.css
==========
*/
/*
 * These styles are for the auto-hiding nav bar when scrolling
 */
#bar{
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    background-color: rgba(112,128,144,0.95);
    /*
    width: 55px;
    height: 55px;
    */
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-left: 0.25em;
    border: solid 2px rgb(50,50,50);
    z-index: 6;
    top:10px;
    left:10px;
    margin-left: 0;
}

#navlogo {
    font-size:2.1em;
    font-family: arvo;
    /*
    position: relative;
    top: -11px;
    */
    line-height: 1em;
    color: rgb(50,50,50);
    height: 65px;
}

#header img {
        width: auto;
        float: left;
        margin: initial;
        position: absolute;
        left: 0px;
}

#header h1 {
    color: #ccc;
    margin-bottom: 0;
    float: left;
    font-size: 1.25rem;
}

.nav-up {
    top: -84px !important;
}

#nav-anchor {
    text-decoration: none;
}

#navimg {
    width: inherit;
    padding-top: 3px;
}


/* push-menu.css
============================================= */

body {
    overflow-x: hidden;
}

#pushPage {
    position: relative;
    z-index: 5;
    background: #FFF;
}

#pushMenu {
    /*display: none;
     */
    visibility: hidden;
    position: fixed;
    width: 225px;
    padding: 1em 1em;
    margin: 0;
    background: #333;
    height: 100%;
    box-shadow: inset -20px 0 20px -20px black;
    font-family: Oswald;
    font-weight: 300;
    overflow-y: auto;

}

#pushMenu.visible {
    visibility: visible;
}

.push-sitename, .push-contents {
    font-family: 'Roboto Slab', Arvo, serif;
    font-size: 1rem;
    text-align: center;
    border-bottom: dashed 1px #666;
    margin-bottom: 0.5rem;
    color: #666;
}

.push-contents {
    margin-top: 1.25rem;
}

#pushMenu .navlink {
    border-bottom: solid 1px #444;
}

#pushMenu .navlink a:hover, #pushMenu-TOC .toc a:hover {
    color: #ccc;
}

@media ( max-width: 39.9rem) {
    #pushMenu {
        background: #333;
    }

    #pushMenu .navlink {
        background-color: #222;
        text-align: center;
        display: table;
        width: 100%;
        height: 50px;
    }

    #pushMenu .navlink a {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .push-sitename, .push-contents {
        color: #bbb;
        border-bottom: dashed 1px #bbb;
    }
}

#pushMenu.animating, #pushMenu.menu-visible {
    display: block;
}

#pushPage.animating, #bar.animating {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
}

#pushPage.animating.left, #bar.animating.left {
    transform: translate3d( 225px, 0, 0);
    -webkit-transform: translate3d( 225px, 0, 0);
}

#pushPage.animating.right, #bar.animating.right {
    transform: translate3d( -225px, 0, 0);
    -webkit-transform: translate3d( -225px, 0, 0);
}

#pushPage.menu-visible, #bar.menu-visible {
    left: 225px;
}

#bar.menu-visible {
    left: 235px;
}

#pushPage, #pushMenu, #bar {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/*
 * Styles for the TOC
 */

#pushMenu .toc {
    border-bottom: solid 1px #444;
}

#pushMenu .first {
    font-size: 1.2rem;
}

#pushMenu .second {
    font-size: 1.1rem;
    padding-left: 0.25rem;
}

#pushMenu .third {
    font-size: 1rem;
    padding-left: 0.5rem;
}

#pushMenu .fourth {
    font-size: 0.9rem;
    padding-left: 0.75rem;
}

#pushMenu .fifth {
    font-size: 0.8rem;
    padding-left: 1rem;
}

#pushMenu-TOC .toc, .toc a {
    position: relative;
    z-index: 2;
}

.toc-progress {
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 0;
    left: 1;
    bottom: 0;
    width: 0;
    z-index: 1;
}

@media ( max-width: 39.99rem) {
    #pushMenu .toc {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }

    #pushMenu-TOC {
        padding: 0.3rem;
        /*
        background-color: #222;
        */
    }
}

@media ( max-width: 64rem) {
    #pushMenu .toc {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }
}


@import 'index';
@import 'about';
@import 'software-page';
@import 'support';