{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="page">
  <article class="{{ .Title | urlize }}-page">

    <section id='lede-hero' class='mb-5'>
      <div class='container mb-5 mt-5 mt-lg-0'>
        <div class='row justify-content-center text-center text-light mt-5 mt-lg-0'>

        <h1 class="title display-4 mt-4 mb-lg-5 text-outline-2">
          {{ .Title | markdownify }}
        </h1>

        <div class='fancy-hr text-center'>
          <img src='/images/svg/bitcam.svg' loading='lazy'>
        </div>

        {{ with .Params.sub_title }}
        <h2 class='subtitle text-outline-2 mb-4'>
          {{ . | markdownify }}
        </h2>
        {{ end }}

        {{ with $author := .Params.author }}
        <p class='text-outline-2'>
          By         
          {{ if isset $.Params "author_url" }}
            <a href='{{ $.Params.author_url }}'>{{ $author }}</a>
          {{ else }}
            {{ $author }}
          {{ end }}
        </p>
        {{ end }}

        </div>
      </div>

      <img src='{{ .Params.lede_img }}' >

      {{ with .Params.lede_attribution }}
      <div class='mt-auto'>
        <p class='text-light text-outline-2 px-2 py-1'>
        {{ . | safeHTML }}
        </p>
      </div>
      {{ end }}

    </section>

    <section>
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-lg-8'>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>


    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
              {{ range .Translations }}
              <li><a href="{{ .Permalink }}">
      {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
              </a></li>
              {{ end }}
    </ul>
    {{ end }}
  </article>
</div>

{{ end }}
