pre {
		background-color: #f8f8f8;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ddd;
		white-space: pre;
		font-family: consolas, "Liberation Mono", Courier, monospace;
		font-size: 0.8em;
		padding: 0.3em;
}

pre code {
		-moz-border-radius: none;
		-webkit-border-radius: none;
		border-radius: none;
		border: none;
		white-space: pre;
		padding: 0;
}
