.freaky-details, .hdr-luminance, .basic-color-curves, .color-curves-matching, .qa-riley-brandt {
		@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,700);

		p.color-ex {
				color: #444;
				text-align: center;
				padding: 1em 0;
				margin: 0 auto;
		}

		p.aside {
				font-size: 0.9em;
				border: dashed 1px;
				padding: 0.5rem;
				font-family: Oswald;
				font-weight: 300;
		}

		p.aside > span {
				display: block;
				font-weight: 400;
		}


		.big-vid img {
				width: initial;
		}

		.center {
				text-align: center;
		}

		ol li {
				margin-bottom: 1rem;
		}

		.aside {
				text-align: center;
		}

}

.hdr-luminance {
		figure img {
				max-height: 90vh;
		}
}

.basic-landcape-exposure-blending, .digital-b-w-conversion-gimp, .open-source-portrait-mari, .skin-retouching-wavelet-decompose, .luminosity-masking-darktable, .blended-panorama-photoflow {
		@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto+Slab:400,700);

		p.color-ex {
				color: #444;
				text-align: center;
				padding: 1em 0;
				margin: 0 auto;
		}

		p.aside {
				font-size: 0.9em;
				border: dashed 1px;
				padding: 0.5rem;
				font-family: Oswald;
				font-weight: 300;
		}

		p.aside > span {
				display: block;
				font-weight: 400;
		}
}

.open-source-portrait-mari {
		table.rt td {
				border: solid 1px gray;
				padding: 0 0.25em;
		}

		table.rt tr>:first-child {
				padding-right: 2em;
		}
}

.gimp-high-bit-depth-part-1, .gimp-high-bit-depth-part-2 {
		p.more {text-indent: 0;}

		.more h6::before,.more h5::before,.more h4::before,.more h3::before{content:"";}
		h2::before, h3::before, h4::before {}

		.more {
				padding: 1rem 3% 1.5rem;
				margin: 1.5rem;
				color: #000;
				background-color: #e1e1e1;
				border-radius: 1rem;
		}

		.double-space li, ol li, ul li {
				margin-bottom: 1rem;
		}

		.toggle-swap {
				border-left: none;
				display: block;
		}

		ol.toc {
				list-style-type: upper-alpha;
		}

		.toc li {
				margin-bottom: 0;
		}

		.toc > li {
				margin-bottom: 1rem;
		}

		body {
				counter-reset: figure 0 h2 0;
		}

		h2::before {
				counter-increment: h2;
				content: counter(h2, upper-alpha)". ";
		}

		h2 {
				counter-reset: h3;
		}

		/* h2:first-of-type::before,  */
		#contents::before {
				content: "";
		}

		h3::before {
				counter-increment: h3;
				content: counter(h2, upper-alpha)counter(h3)". ";
		}


		figcaption::before {
				counter-increment: figure;
				content: "Figure " counter(figure) ". ";
				font-weight: bold;
		}
}

.qa-riley-brandt {
		#pushPage .row .column.two-thirds h3 {
				font-size: 1rem;
				color: #777;
				color: #999;
		}

}