@media only print {
		@page {
				margin: 0.5in;
                margin-bottom: 0.75in;
		}

		body {
				background: white;
				font-size: 12pt;
                font-size: 14pt;
		}

		#bar, #pushMenu, #lede, .footer, .discourse, .discourse-comments {
				display: none;
		}

		.container, #pushPage, .column.two-thirds, .two-thirds {
				width: 100%;
				margin: 0;
				padding: 0;
				border: 0;
				float: none !important;
				color: black;
				background: transparent none;
                margin: 0 auto;
		}

		p, ol, ul {
                width: 90%;
				color: black;
				background: transparent none;
                max-width: inherit;
                margin: 0.5rem auto 0.5rem;
		}

        li {
            margin-bottom: 1.5rem;
        }

        li p {
            margin: 0 0.5rem 1rem;
            width: 100%;
        }

		a:link, a:visited {
				color: gray;
				background: transparent;
				/* text-decoration: underline;*/
						}
		a:link:after, a:visited:after {
				content: " (" attr(href) ") ";
				font-size: 90%;
                color: #bbb;
									}
		a[href^="/"]:after {
				content: " (https://pixls.us" attr(href) ") ";
		}

		//$a:after > img {
		//		content: "";
		//}

		img {
				max-width: 100% !important;
		}

		ul, ol, img {
				page-break-inside: avoid;
		}

		h1, h2, h3, h4, h5, h6 {
				page-break-after: avoid;
                width: 90%;
                margin: 0 auto;
		}

        .article-title {
            max-width: 90%;
            margin: 0.5in auto 0;
        }

        #title {
            margin: 0;
        }

        .fluid-vid iframe {
            display: none;
        }
        .fluid-vid {
            padding: 0;
            height: 2.75rem;
        }
        .fluid-vid:after {
            content: "Video not shown.";
            width: 80%;
            margin: 0 auto;
            display: block;
            border: solid 1px gray;
            padding: 0.2rem;
        }
}
