{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}

<div class="homepage">

  <section id='lede-hero'>
    <div class='container mb-5 mt-5 mt-lg-0'>
      <div class='row justify-content-center text-center text-light mt-5 mt-lg-0'>
        <img src='images/logo/pixls.us-logo-url.svg' height='200px'>
        <h1 class='visually-hidden'>PIXLS.US</h1>

        <h2 class='display-4 mt-4 mb-lg-5 text-outline-2'>Free/Open Source Photography</h2>

        <div class='row  justify-content-center mt-5 gx-5 text-outline-1'>
          <div class='col-md-4 mb-5'>
            <img src='https://www.svgrepo.com/show/36555/pages.svg' height='80'>
            <h2 class='mt-3'>Articles</h2>
            <p class='text-outline-1'>
              Tutorials for various effects, workflows, and a showcase for work from F/OSS photographers. 
            </p>
          </div>

          <div class='col-md-4 mb-5'>
            <img src='https://www.svgrepo.com/show/33974/speech-bubble.svg' height='80'>
            <h2 class='mt-3'>Blog</h2>
            <p class='text-outline-1'>
              Upcoming article ideas, status of the website, and various observations in the world of photography. 
            </p>
          </div>

          <div class='col-md-4 mb-5'>
            <img src='https://www.svgrepo.com/show/76415/discussion.svg' height='80'>
            <h2 class='mt-3'>Discuss</h2>
            <p class='text-outline-1'>
              A forum for giving a voice to everyone in the F/OSS photography community. 
            </p>
          </div>
        </div>

      </div>
    </div>

    <img src='/images/main-lede/{{ .Site.Params.ledeimg.src }}'>

    {{ with .Site.Params.ledeimg }}
    <div class='mt-auto'>
			<p class='text-light'>
        <a href="{{ .src_url }}">
          {{ .src_title }}
        </a>
        by
        <a href="{{ .byurl }}">
          {{ .by }}
        </a>
			</p>
    </div>
    {{ end }}

  </section>

  <section id='latest' class='mt-5'>
    <div class='container'>
      <div class='row'>
        
        <div class='col-lg-4 text-center'>
          <div class='latest-heading sticky-top bg-white'>
            <img src='https://www.svgrepo.com/show/36555/pages.svg' height='80'>
            <h2 class='mt-3'>Articles</h2>
          </div>
        </div>

        <div class='col-lg-4 text-center'>
          <div class='latest-heading sticky-top bg-white'>
            <img src='https://www.svgrepo.com/show/33974/speech-bubble.svg' height='80' class='align-bottom'>
            <h2 class='mt-3'>Blog</h2>
          </div>
          <div class='text-start'>
            {{- range ( where site.RegularPages "Section" "blog" | first 5 ) }}
            <article>
              <h3>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              <time class="date">
                {{ .Date.Format "January 2, 2006" }}
              </time>
              <small class='read'>{{ .ReadingTime }} min read</small>
              <div>
                {{ .Summary }}
              </div>

              {{ if .Truncated }}
                <div class="readmore"><a href="{{ .RelPermalink }}">Read more...</a>
                </div>
              {{ end }}
            </article>
            {{ end }}
          </div>
        </div>

        <div class='col-lg-4 text-center'>
          <div class='latest-heading sticky-top bg-white'>
            <img src='https://www.svgrepo.com/show/76415/discussion.svg' height='80'>
            <h2 class='mt-3'>Discuss</h2>
          </div>
        </div>

      </div>
    </div>
  </section>

  {{ .Content }}

  {{/* Blog Posts Section */}}
	<section class='container'>
		{{ range .Paginator.Pages }}
			<article>
				<time class="date">
					{{ .Date.Format "January 2, 2006" }}
				</time>
				<small class='read'>{{ .ReadingTime }} min read</small>
				<h1>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</h1>
				<div>
					{{ .Summary }}
				</div>

				{{ if .Truncated }}
					<div class="readmore"><a href="{{ .RelPermalink }}">Read more...</a>
					</div>
				{{ end }}
			</article>
			<hr/>
		{{ end }}
	</section>


    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .Permalink }}">
            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>


{{ end }}
