{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}

<div class="page">

  <h1>PIXLS.US</h1>
  <h2>Free/Open Source Photography</h2>

  {{ .Content }}

  {{/* Blog Posts Section */}}
  {{ range .Paginator.Pages }}
  <article>
    <time class="date">
      {{ .Date.Format "January 2, 2006" }}
    </time>
      <small class='read'>{{ .ReadingTime }} min read</small>
      <h1>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <div>
          {{ .Summary }}
      </div>

      {{ if .Truncated }}
          <div class="readmore"><a href="{{ .RelPermalink }}">Read more...</a>
          </div>
      {{ end }}
  </article>
  <hr/>
  {{ end }}


    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .Permalink }}">
            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>


{{ end }}
