/*
.yellow {background-color: #fdfa99;}
.orange {background-color: #faaa67;}
.red {background-color: #f44;}


figure {padding: 1.5rem; padding-bottom: 1rem;}
figcaption {padding-top: 0rem; margin-top: 0;font-style: normal; font-weight: bold; font-family : "DejaVu Serif", "Lucida Bright", "Lucida Serif",  Georgia, serif;}
figcaption p {font-weight: normal;}
img, .imgright, .imgleft {outline: none; border: none; background-color: none;}
.patched {background-color: #aea;}
*/

p.more {text-indent: 0;}

.more h6::before,.more h5::before,.more h4::before,.more h3::before{content:"";}
h2::before, h3::before, h4::before {}

.more {
    padding: 1rem 3% 1.5rem;
    margin: 1.5rem;
    color: #000;
    background-color: #e1e1e1;
    border-radius: 1rem;
}

.double-space li, ol li, ul li {
    margin-bottom: 1rem;
}

.toggle-swap {
    border-left: none;
    display: block;
}

ol.toc {
    list-style-type: upper-alpha;
}

.toc li {
    margin-bottom: 0;
}

.toc > li {
    margin-bottom: 1rem;
}

body {
    counter-reset: figure 0 h2 0;
}

h2::before {
    counter-increment: h2;
    content: counter(h2, upper-alpha)". ";
}

h2 {
    counter-reset: h3;
}

/* h2:first-of-type::before,  */
#contents::before {
    content: "";
}

h3::before {
    counter-increment: h3;
    content: counter(h2, upper-alpha)counter(h3)". ";
}


figcaption::before {
    counter-increment: figure;
    content: "Figure " counter(figure) ". ";
    font-weight: bold;
}

/*
.container {
position: relative;
overflow: hidden;
margin: 0 auto;
width: 100%;
max-width: 48rem;
}

.container img {
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.container li img {
position: absolute;
top: 0;
left: 50rem;
z-index: 2;
}

.container li a {
z-index: 1;
display: block;
//height: 2.5rem;
padding: 0.5rem;
padding-bottom: 0.25rem;
padding-left: 0;
margin-left: -1.0rem;
margin-top: -0.25rem;
}

.container li:nth-child(1) {
padding-top: 70%;
}

.container li a:hover {
background: #eee;
}

.container li a:hover + img, .default {
left: 0;
}

.imgcenter {margin: 2rem auto; margin-bottom: 1rem;}

*/
